.table-container {
  width: 1200px;
  margin: auto;
  margin-top: 55px;
  margin-bottom: 55px;
}

#tableTitle {
  text-align: left;

  margin-left: 12px;
}
.box {
  background: #20272e;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
}
